<section>
  <aside [ngClass]="{ active: displayCanvas }">
    <div class="explanation">
      <header class="title-wrapper">
        <h2 class="app-title">Bound</h2>
        <h2 class="app-title">the</h2>
        <h2 class="app-title highlight">box</h2>
      </header>
      <div class="topic-list">
        <div class="topic">
          <h1>1. Upload an image 🏞️</h1>
          <p>
            Select an image from your device. Better the quality, same result 😎
          </p>
        </div>
        <div class="topic">
          <h1>2. ✏️ your bounding box</h1>
          <p>Use the canva to trace your rectangles</p>
          <p class="link">
            <a
              href="https://www.youtube.com/watch?v=sFEBcEzh2oc&ab_channel=SuperVideos"
            >
              "Measure your boundings, pal"</a
            >
          </p>
        </div>
        <div class="topic">
          <h1>3. Use the proportions!</h1>
          <p>
            The bounding box proportions will be handed in percentage to the
            image. No poor quality should stop you 🚀🚀🚀
          </p>
        </div>
      </div>
    </div>

    <div class="upload">
      <div class="image-upload">
        <div class="canvas">
          <div class="background"></div>
          <label class="upload-area" for="imgInput">
            <h1>upload image</h1>
          </label>
          <input
            id="imgInput"
            type="file"
            accept="image/jpeg, .jpg"
            (change)="uploadImg($event)"
            style="display: none"
          />
        </div>
      </div>
    </div>
  </aside>
  <main [ngClass]="{ active: displayCanvas }">
    <div class="canvas-area">
      <p class="link" (click)="clearImg()">&#x2190; voltar</p>

      <div class="canvas-layers">
        <div class="image" [ngClass]="{ portrait: ratio <= 1 }">
          <img
            id="uploadedImg"
            src="#"
            alt="Uploaded img"
            [draggable]="false"
          />
        </div>
        <div
          class="image draw-board"
          [ngClass]="{ portrait: ratio <= 1 }"
          (mousedown)="onMouseDown($event)"
          (mousemove)="onMouseMove($event)"
          (mouseup)="onMouseUp($event)"
          (mouseleave)="onMouseUp($event)"
        >
          <img
            #shadowImg
            id="shadowImg"
            src="#"
            alt="Uploaded img"
            [draggable]="false"
          />
          <span
            *ngIf="boundingBox !== undefined"
            class="bounding-box"
            [style.width.px]="boundingBox.width"
            [style.height.px]="boundingBox.height"
            [style.left.px]="boundingBox.left"
            [style.top.px]="boundingBox.top"
          ></span>
        </div>
      </div>
    </div>

    <div class="canvas-ctrls">
      <header class="title-wrapper secondary">
        <h2 class="app-title">to</h2>
        <h2 class="app-title highlight">bound</h2>
        <h2 class="app-title">the box use</h2>
      </header>

      <div class="json-display">
        <pre><code #code class="json">//draw your bounding box
        </code></pre>
      </div>

      <button (click)="copyText()" [disabled]="boundingBox === undefined">copy boundaries</button>
    </div>
  </main>
</section>
<footer>
  <p>developped by Jodamco (with the help of google and stack overflow 😝)</p>
</footer>

<span class="copy-confimation" *ngIf="isCopySuccess">
  <p>👍</p>
  <p>copied</p>
</span>
